*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F4F2;
    color: black;
}

.container {
    margin: 0 auto;
    min-width: 1440px;
    padding: 10px 80px 10px 80px;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    display: inline-block;
    gap: 10px;

    background-color: #6A0708;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding: 14px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;

    color: #FFFFFF;
}

/* .button:hover {
    padding: 15px 17px; font-size: 17px;
    transition: 2s linear;
} */

.button-white:hover {
    padding: 15px 17px;
    font-size: 17px;
    transition: .2s linear;
}

.button:active { 
    outline: 0;
    outline-offset: 0; 
    background-color: #fff;
    color: #0E1734;
    transition: .2s linear;
}

.logo_image-header {
    height: 140px;
    width: 240px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.logo_image-footer {
    height: 140px;
    width: 240px;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px 0px 80px;
}

.header__logo {
    margin-top: 9px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 39px;

    color: #192252;
}

.header__list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.header__nav {
    display: flex;
    padding-bottom: 80px;
}

.header__link {
    display: inline-block;
    margin-top: 19px;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    line-height: 19px;

    color: #192252;
    margin-right: 48px;
}

.header_link_main {
    font-size: 23px;
    text-decoration: underline;
}

.header__link:last-of-type {
    margin-right: 0;
}

.header__link:hover {
    text-decoration: underline;
    color: #6A0708;
}

.header__button-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-left: 30px;
}

.fa {
    color: #0B265A;
    font-size: 30px;
}

.language_button {
    background: none;
    border: none;
}

.language_dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.language_choice {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #F5E4D2;
    min-width: 160px;
    box-shadow: 9px 13px 24px -8px rgba(0,0,0,0.48);
    z-index: 1;
}

.language_choice a {
    display: block;
    text-align-last: left;
    align-items: start;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.language_dropdown:hover .language_choice {
    display: block;
    position: fixed;
}

.language_choice > a:hover {
    background-color: #6A0708;
    opacity: 0.8;
}

.language_line {
    padding: 0;
    margin: 0;
    color: black;
}

.menu-toggle {
    display: none;
}

.header__icon {
    display: none;
    width: 30px;
    cursor: pointer;
    z-index: 4;
    position: relative;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* Title of the webpage */
.custom-hr {
    border: none;
    height: 100px;
    background-color: #C9BAAB;
    margin: 0;
    position: relative;
    z-index: -2;
}

.line-container {
    position: relative;
}

.square {
    width: 320px;
    height: 100px;
    background-color: #6A0708;
    color: #F5F4F2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}

/* Main Section */

.container-flex {
    display: flex;
}

.leading__header {
    max-width: 587px;
    margin-bottom: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;

    letter-spacing: -0.01em;

    color: #192252;
    margin-right: 100px;
}

.general__p {
    max-width: 485px;
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: black;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.main-section-container {
    justify-content: space-between;
}

.main-section__img {
    margin-right: 0px;
    width: 370px;
    height: auto;
    left: 450px;
    top: 20px;
}

.main-section__img-center {
    position: relative;
    z-index: -1;
    margin-right: 24px;
    bottom: -81px;
}

.main-section__img:last-of-type {
    margin-right: 0;
}

/* First Section */

.main-section__img2 {
    margin-right: 0px;
    width: 500px;
    height: auto;
    left: 150px;
    top: 50px;
}

.section__h {
    max-width: 690px;
    font-size: 36px;
}

.section__p {
    max-width: 584px;
    margin-bottom: 16px;
}

.section__p:last-of-type {
    margin-bottom: 32px;
}



/* Second Section */
.second-section__container {
    margin: 0 auto;
    min-width: 1440px;
    padding: 37px 120px 120px 120px;
    display: flex;
    justify-content: space-between;
}

.part-container__section:not(:last-of-type) {
    margin-bottom: 32px;
}

.imagine-first {
    margin-left: 126px;
}

.imagine-second {
    margin-right: 126px;
}

/* Rooms Section */
.rooms-section__container {
    margin: 0 auto;
    min-width: 1440px;
    display: block;
    padding-bottom: 88px;
    justify-content: space-between;
}


.rooms-section__h {
    margin-left: auto;
    margin-right: auto;
    max-width: 446px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;

    text-align: center;
    letter-spacing: -0.01em;

    color: #192252;
    margin-bottom: 24px;
}

.rooms-section__p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    text-align: center;

    color: #848FAC;
    margin-bottom: 32px;
}

.button-rooms {
    display: flex;
    align-items: center;
    margin-bottom: 88px;
}

.container__variants-rooms {
    margin: 0 auto;
    min-width: 1440px;
    padding-bottom: 120px;
    display: flex;
}

.div-single__room {
    margin-left: 120px;
    margin-right: 24px;
}

.div__cootage {
    margin-left: 24px;
    margin-right: 120px;
}

.header__rooms {
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    color: #000000;
}

.p__rooms {
    margin-bottom: 32px;
    max-width: 384px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #848FAC;
}

.link__rooms {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #424F7B;
}

.span__rooms {
    margin-right: 12px;
}

.link__rooms:hover {
    text-decoration: underline;
}

/* Section Choose */
.container-choose {
    display: flex;
    justify-content: space-around;
}

.button-white {
    position: relative;
    display: inline-block;
    gap: 10px;

    background-color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding: 14px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #0E1734;
}

.button-white:active {
    outline: 0;
    outline-offset: 0;
    background-color: #0E1734;
    color: #fff;
    transition: .3s;
}

.about__item-container {
    max-width: 750px;
    margin-right: 70px;
}

.about__items > div {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.about__items {
    box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    max-width: 550px;
}

.about__items:last-of-type {
    margin-bottom: 90px;
}

.about__items > p {
    display: none;
}

.about__position {
    margin-right: 110px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding: 26px 0 26px 25px;
    margin-bottom: 0;
    color: #424F7B;
}

.appears_text {
    text-align: start;
    padding-left: 25px;
    max-width: 435px;
    color: #848FAC;
}

.about__icon {
    color: #2C3241;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding: 22px 34px 0 0;
}

.fa-chevron-down {
    color: #FF620A;
    padding: 16.5px;
    border-radius: 50%;
    background: #FFECE2;
}

.about__icon.active > .fa-chevron-down {
    transform: rotate(180deg);
    transition: .2s linear;
    color: #FFECE2;
    background: #FF620A;
    opacity: 1;
}

.toggleBg {
    color: black;
}



/* Reviews Section */
.reviews-container {
    display: block;
    
}

.carusel > p {
    text-align: center;
}

.slick-dots li button:before {
    color: rgba(250, 176, 71, 0.35);
    font-size: 8px;
}

.slick-dots li.slick-active button:before {
    color: #FAB047;
    font-size: 12px;
}

.reviews__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    margin-left: auto;
    margin-right: auto;

    color: #192252;
    margin-bottom: 62px;
}

.reviews__img {
    margin-left: auto;
    margin-right: auto;
}

.slick-initialized .slick-slide {
    display: inherit;
    text-align: center;
}

.reviews__p {
    max-width: 793.06px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    text-align: center;
    color: #848FAC;
}

.reviews__author {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    text-align: center;

    color: #192252;
}

/* Map section */
.map_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
}

iframe {
    width: 90%;
}


/* Footer */
.footer {
    color: #fff;
}



.footer__container {
    background-color: #C9BAAB;
    justify-content: space-between;
    margin-top: 120px;
}

.footer__h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    letter-spacing: -0.01em;
}

.footer__catchword {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #ffffff;
}

.footer__catchword:last-of-type {
    margin-bottom: 36px;
}

.social__media {
    text-decoration: none;
    color: #FFFFFF;
}

.social__media:not(:last-of-type) {
    margin-right: 24px;
}

.social__media-booking {
    height: 34px;
    width: 35px;
}

.footer__rightside {
    display: flex;
}

.rightside__item-2 {
    margin-left: 100px;
}

.rightside__item-3 {
    margin-left: 101px;
}

.item__header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.rightside__p {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 24px;
}

.p__margin-b {
    margin-bottom: 0;
}

.social__media-icon {
    width: 40px;
    height: 40px;
}

.footer__bottom {
    background-color: #C9BAAB;
    padding: 10px 0;
}

.footer__bottom hr {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 1.5px solid #ffffff;
}

.footer__copyright {
    text-align: center;
    padding: 10px 0;
}

.media__container {
    align-items: center;
    display: flex;
}

.media__container > a > i {
    color: #263b7d;
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .leading__header {
        font-size: 34px;
    }

    .general__p {
        font-size: 16px;
    }

    .header-container {
        justify-content: space-between;
    }

    .logo_image-header {
        left: 40px;
    }

    .header__list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 3;
        transition: opacity 0.4s ease;
    }

    .header__icon {
        display: block;
    }

    .menu-toggle:checked ~ .header__list {
        display: flex;
    }

    .header__nav {
        flex-direction: column;
    }

    .menu-toggle:checked + .header__icon .bar1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menu-toggle:checked + .header__icon .bar2 {
        opacity: 0;
    }

    .menu-toggle:checked + .header__icon .bar3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .header__link {
        margin-right: 0;
    }

    .header__link:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .language_dropdown {
        margin-bottom: 20px;
    }

    .header__button-link {
        margin-left: 0;
    }

    .container {
        min-width: auto;
        padding: 10px 114px 7px 45px;
    }

    .square {
        width: 220px;
        height: 50px;
        top: 61px;
        left: 270px;
        font-size: 28px;
    }

    .container__text-first {
        margin-left: 40px;
    }

    .imagine-first {
        margin-left: 97px;
    }

    .imagine-second {
        margin-right: 97px;
    }

    .second-section__container {
        padding: 37px 79px 20px 45px;
        min-width: auto;
    }

    .main-container {
        height: auto;

    }

    .main-container > .container__text {
        padding-left: 20px;
    }

    .button-rooms {
        margin-bottom: 40px;
    }

    .rooms-section__container {
        padding-bottom: 22px;
    }

    .about__item-container {
        margin-right: 0;
    }

    .slick-next:before, .slick-prev:before {
        font-size: 40px;
        color: #192252;
    }

    .slick-dotted.slick-slider {
        width: auto;
    }

    .map_container {
        padding: 0;
    }
} 

@media screen and (max-width:800px) {
    .main-section__img {
        width: 250px;
    }

    .logo_image-header {
        height: 80px;
        width: 140px;
    }

    .custom-hr {
        height: 50px;
    }

    .square {
        top: 36px;
        left: 155px;
    }

    .main-section__img2 {
        width: 325px;
    }

    .second-section__container {
        padding: 10px 30px 15px 30px;
    }

    .leading__header {
        font-size: 29px;
        margin-right: 0;
    }

    .general__p {
        font-size: 15px;
    }

    .about__position {
        padding: 13px 0 26px 22px;
        font-size: 19px;
        margin-right: 0;
    }

    .about__icon {
        padding: 5px 25px 0 0;
    }

    .footer__leftside {
        margin-right: 10px;
    }

    .footer__catchword {
        font-size: 14px;
    }

    .rightside__p {
        font-size: 14px;
    }

    .logo_image-footer {
        height: 90px;
        width: 140px;
    }

    .social__media-icon {
        width: 25px;
        height: 25px;
    }

    .social__media-booking {
        height: 25px;
        width: 25px;
    }

    .footer__copyright > p {
        font-size: 12px;
    }
}

@media screen and (max-width:335px) {
    .header__list {
        margin-right: 140px;
    }
}