*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F4F2;
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 10px 80px 10px 80px;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    display: inline-block;
    gap: 10px;

    background-color: #6A0708;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding: 14px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;

    color: #FFFFFF;
}

/* .button:hover {
    padding: 15px 17px; font-size: 17px;
    transition: 2s linear;
} */

.button-white:hover {
    padding: 15px 17px;
    font-size: 17px;
    transition: .2s linear;
}

.button:active { 
    outline: 0;
    outline-offset: 0; 
    background-color: #fff;
    color: #0E1734;
    transition: .2s linear;
}

.logo_image-header {
    height: 140px;
    width: 240px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.logo_image-footer {
    height: 140px;
    width: 240px;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px 0px 80px;
}

.header__logo {
    margin-top: 9px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 39px;

    color: #192252;
}

.header__list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.header__nav {
    display: flex;
    padding-bottom: 80px;
}

.header__link {
    display: inline-block;
    margin-top: 19px;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    line-height: 19px;

    color: #192252;
    margin-right: 48px;
}

.header_link_main {
    font-size: 23px;
    text-decoration: underline;
}

.header__link:last-of-type {
    margin-right: 0;
}

.header__link:hover {
    text-decoration: underline;
    color: #6A0708;
}

.header__button-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-left: 30px;
}

.fa {
    color: #0B265A;
    font-size: 30px;
}

.language_button {
    background: none;
    border: none;
}

.language_dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.language_choice {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #F5E4D2;
    min-width: 160px;
    box-shadow: 9px 13px 24px -8px rgba(0,0,0,0.48);
    z-index: 1;
}

.language_choice a {
    display: block;
    text-align-last: left;
    align-items: start;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.language_dropdown:hover .language_choice {
    display: block;
    position: fixed;
}

.language_choice > a:hover {
    background-color: #6A0708;
    opacity: 0.8;
}

.language_line {
    padding: 0;
    margin: 0;
    color: black;
}

.menu-toggle {
    display: none;
}

.header__icon {
    display: none;
    width: 30px;
    cursor: pointer;
    z-index: 4;
    position: relative;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* Title of the webpage */
.custom-hr {
    border: none;
    height: 100px;
    background-color: #C9BAAB;
    margin: 0;
    position: relative;
    z-index: -2;
}

.line-container {
    position: relative;
}

.square {
    width: 320px;
    height: 100px;
    background-color: #6A0708;
    color: #F5F4F2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}

/* Main section */
.main-container {
    display: block;
    align-items: start;
}

.form-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    font-size: 30px;
    color: #192252;
}

label {

    font-size: 18px;
    line-height: 150%;

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

input {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 12px;
    border: 2px solid #6A0708;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

textarea {
    width: 100%;
    border: 2px solid #6A0708;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.submit-button {
    background-color: #6A0708;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 120px;
    display: block;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.submit-button:hover {
    background-color: #4B0B0B;
}

.form__container {
    display: block;
    text-align: center;
}

.form-background {
    background-image: url('../img/bordo_back.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
    padding: 40px 20px 40px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

form {
    display: block;
    text-align: left;
    width: 600px;
    background-color: white;
    padding: 30px;
}

.input_form {
    max-width: 600px;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border-radius: 10px;
}

.social_media-container {
    display: block;
    text-align: center;
    margin-left: 100px;
    margin-top: 150px;
}

.social_media-container > div {
    margin-bottom: 40px;
}

.social__media {
    text-decoration: none;
    font-size: 38px;
    color: #192252;
}

.social__media:not(:last-of-type) {
    margin-right: 40px;
}

.main-contact-info {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;

    color: #192252;
}

.main-contact-info:last-of-type {
    margin-bottom: 36px;
}

/* Footer */
.footer {
    color: #fff;
}

.footer__container {
    background-color: #C9BAAB;
    justify-content: space-between;
    margin-top: 120px;
}

.footer__h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    letter-spacing: -0.01em;
}

.footer__catchword {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #ffffff;
}

.footer__catchword:last-of-type {
    margin-bottom: 36px;
}

.social__media {
    text-decoration: none;
    color: #FFFFFF;
}

.social__media:not(:last-of-type) {
    margin-right: 24px;
}

.social__media-booking {
    height: 34px;
    width: 35px;
}

.footer__rightside {
    display: flex;
}

.rightside__item-2 {
    margin-left: 100px;
}

.rightside__item-3 {
    margin-left: 101px;
}

.item__header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.rightside__p {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 24px;
}

.p__margin-b {
    margin-bottom: 0;
}

.social__media-icon {
    width: 40px;
    height: 40px;
}

.social__media-booking {
    height: 40px;
    width: 40px;
}

.footer__bottom {
    background-color: #C9BAAB;
    padding: 10px 0;
}

.footer__bottom hr {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 1.5px solid #ffffff;
}

.footer__copyright {
    text-align: center;
    padding: 10px 0;
}

.media__container {
    align-items: center;
    display: flex;
}

.media__container > a > i {
    color: #263b7d;
}

/* Media Queries */
@media screen and (max-width: 1180px) {
    .header-container {
        justify-content: space-between;
        padding: 40px 40px 0px 40px;
    }

    .logo_image-header {
        left: 15px;
    }
}

@media screen and (max-width: 960px) {
    .header__list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 3;
        transition: opacity 0.4s ease;
    }

    .header__icon {
        display: block;
    }

    .menu-toggle:checked ~ .header__list {
        display: flex;
    }

    .header__nav {
        flex-direction: column;
    }

    .menu-toggle:checked + .header__icon .bar1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .menu-toggle:checked + .header__icon .bar2 {
        opacity: 0;
    }

    .menu-toggle:checked + .header__icon .bar3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .header__link {
        margin-right: 0;
    }

    .header__link:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .language_dropdown {
        margin-bottom: 20px;
    }

    .header__button-link {
        margin-left: 0;
    }

    .square {
        left: 250px;
        width: 250px;
        height: 80px;
    }
}