*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F4F2;
    color: black;
}

.container {
    margin: 0 auto;
    min-width: 1440px;
    padding: 10px 80px 70px 80px;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    display: inline-block;
    gap: 10px;

    background-color: #6A0708;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding: 14px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;

    color: #FFFFFF;
}

/* .button:hover {
    padding: 15px 17px; font-size: 17px;
    transition: 2s linear;
} */

.button-white:hover {
    padding: 15px 17px;
    font-size: 17px;
    transition: .2s linear;
}

.button:active { 
    outline: 0;
    outline-offset: 0; 
    background-color: #fff;
    color: #0E1734;
    transition: .2s linear;
}

.logo_image-header {
    height: 140px;
    width: 240px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.logo_image-footer {
    height: 140px;
    width: 240px;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px 0px 80px;
}

.header__logo {
    margin-top: 9px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 39px;

    color: #192252;
}

.header__list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.header__nav {
    display: flex;
    padding-bottom: 80px;
}

.header__link {
    display: inline-block;
    margin-top: 19px;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    line-height: 19px;

    color: #192252;
    margin-right: 48px;
}

.header_link_main {
    font-size: 23px;
    text-decoration: underline;
}

.header__list .header__icon {
    display: none;
}

.header__link:last-of-type {
    margin-right: 0;
}

.header__link:hover {
    text-decoration: underline;
    color: #6A0708;
}

.header__button-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-left: 30px;
}

.fa {
    color: #0B265A;
    font-size: 30px;
}

.language_button {
    background: none;
    border: none;
}

.language_dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.language_choice {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #F5E4D2;
    min-width: 160px;
    box-shadow: 9px 13px 24px -8px rgba(0,0,0,0.48);
    z-index: 1;
}

.language_choice a {
    display: block;
    text-align-last: left;
    align-items: start;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.language_dropdown:hover .language_choice {
    display: block;
    position: fixed;
}

.language_line {
    padding: 0;
    margin: 0;
    color: black;
}

/* Main section */
.main-container {
    display: block;
    align-items: start;
}

.form-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    font-size: 30px;
    margin-top: 100px; /* Adjust the value as needed */
    color: #192252;
}

label {

    font-size: 18px;
    line-height: 150%;

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

input {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 12px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

textarea {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.submit-button {
    background-color: #6A0708;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 120px;
    display: block;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.submit-button:hover {
    background-color: #4B0B0B;
}

.form-background {
    background-image: url('..img/bordo_back.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
}

.social_media-container {
    display: block;
    text-align: center;
    margin-left: 100px;
    margin-top: 150px;
}

.social_media-container > div {
    margin-bottom: 40px;
}

.social__media {
    text-decoration: none;
    font-size: 38px;
    color: #192252;
}

.social__media:not(:last-of-type) {
    margin-right: 40px;
}

.main-contact-info {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;

    color: #192252;
}

.main-contact-info:last-of-type {
    margin-bottom: 36px;
}

/* Footer */
.footer {
    color: #fff;
}

.footer__container {
    background-color: #C9BAAB;
    justify-content: space-between;
    margin-top: 120px;
}

.footer__h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    letter-spacing: -0.01em;
}

.footer__catchword {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #ffffff;
}

.footer__catchword:last-of-type {
    margin-bottom: 36px;
}

.social__media-footer {
    text-decoration: none;
    color: #FFFFFF;
}

.social__media-footer:not(:last-of-type) {
    margin-right: 24px;
}

.social__media-booking {
    height: 34px;
    width: 35px;
}

.footer__rightside {
    display: flex;
}

.rightside__item-2 {
    margin-left: 100px;
}

.rightside__item-3 {
    margin-left: 101px;
}

.item__header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.rightside__p {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 24px;
}

.p__margin-b {
    margin-bottom: 0;
}

.custom-hr {
    border: none; /* Remove default border */
    height: 100px; /* Adjust the thickness */
    background-color: #C9BAAB; /* Set the color */
    margin: 0; /* Optional: Adjust margin if needed */
    position: relative; /* Ensure the line is positioned relative to the container */
    z-index: 1; /* Set a lower z-index for the line */

}

.line-container {
    position: relative; /* Ensure the container is positioned relative */
}

.square {
    width: 320px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    background-color: #6A0708; /* Set the background color */
    color: #F5F4F2; /* Set the font color */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Position the square absolutely */
    top: 50px; /* Adjust to position half above the line */
    left: 300px; /* Adjust to position towards the left */
    font-family: 'Montserrat', sans-serif; /* Set the font family */
    font-size: 35px; /* Adjust the font size as needed */
    text-align: center;
    font-weight: bold; /* Make the text bold */
    z-index: 2; /* Set a higher z-index for the square */
    margin-bottom: 100px; /* Adjust the value as needed */

}
