*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F4F2;
    color: black;
}

.container {
    margin: 0 auto;
    min-width: 1440px;
    padding: 10px 80px 70px 80px;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    display: inline-block;
    gap: 10px;

    background-color: #6A0708;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding: 14px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;

    color: #FFFFFF;
}

/* .button:hover {
    padding: 15px 17px; font-size: 17px;
    transition: 2s linear;
} */

.button-white:hover {
    padding: 15px 17px;
    font-size: 17px;
    transition: .2s linear;
}

.button:active { 
    outline: 0;
    outline-offset: 0; 
    background-color: #fff;
    color: #0E1734;
    transition: .2s linear;
}

.logo_image-header {
    height: 140px;
    width: 240px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.logo_image-footer {
    height: 140px;
    width: 240px;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px 0px 80px;
}

.header__logo {
    margin-top: 9px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 39px;

    color: #192252;
}

.header__list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.header__nav {
    display: flex;
    padding-bottom: 80px;
}

.header__link {
    display: inline-block;
    margin-top: 19px;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;

    font-weight: 500;
    font-size: 20px;
    line-height: 19px;

    color: #192252;
    margin-right: 48px;
}

.header_link_main {
    font-size: 23px;
    text-decoration: underline;
}

.header__list .header__icon {
    display: none;
}

.header__link:last-of-type {
    margin-right: 0;
}

.header__link:hover {
    text-decoration: underline;
    color: #6A0708;
}

.header__button-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-left: 30px;
}

.fa {
    color: #0B265A;
    font-size: 30px;
}

.language_button {
    background: none;
    border: none;
}

.language_dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

.language_choice {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #F5E4D2;
    min-width: 160px;
    box-shadow: 9px 13px 24px -8px rgba(0,0,0,0.48);
    z-index: 1;
}

.language_choice a {
    display: block;
    text-align-last: left;
    align-items: start;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.language_dropdown:hover .language_choice {
    display: block;
    position: fixed;
}

.language_line {
    padding: 0;
    margin: 0;
    color: black;
}

/* Main Section */

.container-flex {
    display: flex;
}

.leading__header {
    max-width: 587px;
    margin-bottom: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;

    letter-spacing: -0.01em;

    color: #192252;
    margin-right: 50px;
}

.general__p {
    max-width: 485px;
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: black;
}

.main-section__img {
    position: relative;
    z-index: -1;
    margin-right: 24px;
}

.main-section__img-center {
    position: relative;
    z-index: -1;
    margin-right: 24px;
    bottom: -81px;
}

.main-section__img:last-of-type {
    margin-right: 0;
}

/* First Section */

.container__text-first {
    margin-left: 126px;
}

.section__h {
    max-width: 690px;
    font-size: 36px;
}

.section__p {
    max-width: 584px;
    margin-bottom: 16px;
}

.section__p:last-of-type {
    margin-bottom: 32px;
}

/* Second Section */
.second-section__container {
    margin: 0 auto;
    min-width: 1440px;
    padding: 37px 120px 120px 120px;
    display: block;
}

.part-container__section {
    display: flex;
    align-items: center;
}

.part-container__section:not(:last-of-type) {
    margin-bottom: 32px;
}

.imagine-first {
    margin-left: 126px;
}

.imagine-second {
    margin-right: 126px;
}

/* Rooms Section */
.rooms-section__container {
    margin: 0 auto;
    min-width: 1440px;
    display: block;
    padding-bottom: 88px;
}


.rooms-section__h {
    margin-left: auto;
    margin-right: auto;
    max-width: 446px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;

    text-align: center;
    letter-spacing: -0.01em;

    color: #192252;
    margin-bottom: 24px;
}

.rooms-section__p {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    text-align: center;

    color: #848FAC;
    margin-bottom: 32px;
}

.button-rooms {
    display: flex;
    align-items: center;
    margin-bottom: 88px;
}

.container__variants-rooms {
    margin: 0 auto;
    min-width: 1440px;
    padding-bottom: 120px;
    display: flex;
}

.div-single__room {
    margin-left: 120px;
    margin-right: 24px;
}

.div__cootage {
    margin-left: 24px;
    margin-right: 120px;
}

.header__rooms {
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    color: #000000;
}

.p__rooms {
    margin-bottom: 32px;
    max-width: 384px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #848FAC;
}

.link__rooms {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #424F7B;
}

.span__rooms {
    margin-right: 12px;
}

.link__rooms:hover {
    text-decoration: underline;
}

/* Section Choose */
.container-choose {
    display: flex;
    justify-content: space-between;
}

.button-white {
    position: relative;
    display: inline-block;
    gap: 10px;

    background-color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    padding: 14px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #0E1734;
}

.button-white:active {
    outline: 0;
    outline-offset: 0;
    background-color: #0E1734;
    color: #fff;
    transition: .3s;
}

.about__item-container {
    max-width: 750px;
    margin: 0 auto;
}

.about__items > div {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.about__items {
    box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    max-width: 550px;
}

.about__items:last-of-type {
    margin-bottom: 90px;
}

.about__items > p {
    display: none;
}

.about__position {
    margin-right: 110px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding: 26px 0 26px 25px;
    margin-bottom: 0;
    color: #424F7B;
}

.appears_text {
    text-align: start;
    padding-left: 25px;
    max-width: 435px;
    color: #848FAC;
}

.about__icon {
    color: #2C3241;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding: 22px 34px 0 0;
}

.fa-chevron-down {
    color: #FF620A;
    padding: 16.5px;
    border-radius: 50%;
    background: #FFECE2;
}

.about__icon.active > .fa-chevron-down {
    transform: rotate(180deg);
    transition: .2s linear;
    color: #FFECE2;
    background: #FF620A;
    opacity: 1;
}

.toggleBg {
    color: black;
}



/* Reviews Section */
.reviews-container {
    display: block;
    
}

.carusel > p {
    text-align: center;
}

.slick-dots li button:before {
    color: rgba(250, 176, 71, 0.35);
    font-size: 8px;
}

.slick-dots li.slick-active button:before {
    color: #FAB047;
    font-size: 12px;
}

.reviews__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    margin-left: auto;
    margin-right: auto;

    color: #192252;
    margin-bottom: 62px;
}

.reviews__img {
    margin-left: auto;
    margin-right: auto;
}

.slick-initialized .slick-slide {
    display: inherit;
    text-align: center;
}

.reviews__p {
    max-width: 793.06px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    text-align: center;
    color: #848FAC;
}

.reviews__author {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    text-align: center;

    color: #192252;
}

/* Map section */
.map_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
}

iframe {
    width: 90%;
}


/* Footer */
.footer {
    color: #fff;
}

.footer__container {
    background-color: #686A71;
    justify-content: space-between;
    margin-top: 120px;
}

.footer__h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    letter-spacing: -0.01em;
}

.footer__catchword {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #D9DBDE;
}

.footer__catchword:last-of-type {
    margin-bottom: 36px;
}

.social__media {
    text-decoration: none;
    color: #FFFFFF;
}

.social__media:not(:last-of-type) {
    margin-right: 24px;
}

.social__media-booking {
    height: 34px;
    width: 35px;
}

.footer__rightside {
    display: flex;
}

.rightside__item-2 {
    margin-left: 100px;
}

.rightside__item-3 {
    margin-left: 101px;
}

.item__header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.rightside__p {
    text-decoration: none;
    display: inline-block;
    color: #D9DBDE;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 24px;
}

.p__margin-b {
    margin-bottom: 0;
}

.custom-hr {
    border: none; /* Remove default border */
    height: 100px; /* Adjust the thickness */
    background-color: #C9BAAB; /* Set the color */
    margin: 0; /* Optional: Adjust margin if needed */
    position: relative; /* Ensure the line is positioned relative to the container */
    z-index: 1; /* Set a lower z-index for the line */

}

.line-container {
    position: relative; /* Ensure the container is positioned relative */
}

.square {
    width: 320px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    background-color: #6A0708; /* Set the background color */
    color: #F5F4F2; /* Set the font color */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Position the square absolutely */
    top: 50px; /* Adjust to position half above the line */
    left: 300px; /* Adjust to position towards the left */
    font-family: 'Montserrat', sans-serif; /* Set the font family */
    font-size: 35px; /* Adjust the font size as needed */
    text-align: center;
    font-weight: bold; /* Make the text bold */
    z-index: 2; /* Set a higher z-index for the square */
}

/* Gallery pictures */

.gallery-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}



@media screen and (max-width: 960px) {
    .header__list a {
        display: none;
    }
    .header__list a.header__icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 960px) {
    .header__list.responsive {
        position: fixed;
        display: block;
        background: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        text-align: center;
    }
    .header__list.responsive .header__icon {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 112px;
      margin-top: -14px;
    }
    .header__list.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 30px;
      padding-top: 30px;
    }

    .header__list.responsive .header__button-link {
        margin-top: 30px;
        margin-left: 0;
        font-size: 30px;
    }

    .header__nav a:first-of-type {
        margin-top: 200px;
    }

    .container {
        padding: 10px 114px 7px 107px;
    }

    .container__text-first {
        margin-left: 90px;
    }

    .imagine-first {
        margin-left: 97px;
    }

    .imagine-second {
        margin-right: 97px;
    }

    .second-section__container {
        padding: 37px 79px 46px 160px;
    }

    .button-rooms {
        margin-bottom: 40px;
    }

    .rooms-section__container {
        padding-bottom: 22px;
    }
}

@media screen and (max-width:800px) {
    .container-flex {
        display: block;
        text-align: center;
    }

    .leading__header {
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .general__p {
        margin: 0 auto;
        padding-bottom: 32px;
    }

    .container {
        display: block;
    }

    .first-section__img {
        margin: 0 auto;
        display: block;
        margin-top: 90px;
    }

    .section__h {
        text-align: center;
        padding-top: 34px;
        padding-bottom: 50px;
    }

    .section__p:last-of-type {
        margin-bottom: 0px;
    }

    .container__btn-first-section {
        display: flex;
        justify-content: center;
    }

    .button__first-section {
        padding: 20px 37px;
        font-size: 22px;
    }

    .part-container__section {
        display: block;
    }

    .container__img {
        text-align: center;
    }

    .imagine-first {
        margin-left: 0;
    }

    .imagine-second {
        margin-right: 0;
    }

    .container__variants-rooms {
        display: block;
        text-align: center;
    }

    .div-single__room {
        margin-left: 0;
        margin-right: 0;
    }

    .p__rooms {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .container__text-first {
        margin-left: 0;
    }

    .div__cootage {
        margin: 0 auto;
    }

    .up-header__text {
        text-align: center;
    }

    .choose-button__container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

    .about__items {
        max-width: inherit;
    }

    .appears_text {
        max-width: inherit;
    }

    .footer__container {
        display: flex;
    }
}

@media screen and (max-width:335px) {
    .header__list {
        margin-right: 140px;
    }
}